<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
    <h1>בית הכנסת</h1>
    <p class="lead">בוא והתחבר לקהילה שלנו... כל מה שאתה צריך לעשות הוא להתחבר</p>
    <div class="text-center">
        <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">להתחבר</button>
        <button class="btn btn-primary btn-info btn-lg ">פרטים נוספים</button>
    </div>
    </div>


    <div *ngIf="registerMode" class="container">

        <div class="row justify-content-center">
            <div class="col-4">
              <app-register (cancolRegister)="cancolRegisterModel($event)" ></app-register>
            </div>
        </div>
    </div>
</div>
